
  <div style="margin:2rem; padding:1rem; border: 2px solid lightgray">
    <h1>ngx-translate</h1>
    <div>{{'common.days.monday' | translate}}</div>
    <div>{{'account.settings.responsibleGambling.depositLimitsGreaterThan' | translate:  {min: '10'} }}</div>
    <br>
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </div>

  

